<?xml version="1.0" encoding="utf-8"?>
<phpunit
    backupGlobals="true"
    stopOnFailure="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    bootstrap="Runner.php">

    <testsuites>
      <testsuite name="All">
        <directory>./Tests/</directory>
      </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">./../src/</directory>
        </whitelist>
        <blacklist>
            <directory>./../vendor/</directory>
        </blacklist>
    </filter>   
</phpunit>
